<mat-card class="extrato-card">
  <mat-card-header>
    <mat-card-title>Extrato</mat-card-title>
    <!-- <mat-card-subtitle>Período Considerado</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <p>Período Considerado: Do dia: {{extrato?.dataInicial | date: 'dd/MM/yyyy'}} até o dia: {{extrato?.dataFinal | date: 'dd/MM/yyyy'}}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>

  <mat-card-footer>
    <form class="example-form">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Ano</mat-label>
            <mat-select [value]="anoSelecionado" (selectionChange)="alterarAno($event)">
              <mat-option *ngFor="let ano of anos" [value]="ano">
                {{ano}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Mês</mat-label>
            <mat-select [value]="mesSelecionado" (selectionChange)="alterarMes($event)">
              <mat-option *ngFor="let mes of meses" [value]="mes">
                {{mes | converteMes}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <div class="col">
          <button mat-raised-button type="button"  color="primary" (click)="obterExtrato()">Exibir extrato</button>
        </div>
      </div>



    </form>

  </mat-card-footer>
</mat-card>



<mat-card class="extrato-card">
  <mat-card-header>
    <mat-card-title>Lançamentos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table class="full-width-table" [dataSource]="extrato.lancamentos">
      <mat-text-column name="descricao"></mat-text-column>
      <!-- Name Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let row">{{row.categoria.nome}}</td>
      </ng-container>
      <ng-container matColumnDef="dataBalancete">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let row">{{row.dataBalancete | date: 'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let row">{{(row.categoria.tipo==='SAIDA'?-row.valor:row.valor) | currency: 'R$' }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>


    </table>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-footer>
    <p><b>Resultado do Período:</b> {{this.extrato.resultadoPeriodo | currency: "R$"}}</p>
    <p><b>Saldo:</b> {{this.extrato.saldo | currency: "R$"}}</p>

  </mat-card-footer>

</mat-card>


