
<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>Resumo do mês atual</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <h2 style="text-align: center;">Ganhos</h2>
        <ngx-charts-pie-chart

        [legend]="showLegend"
          [results]="dadosGraficoEntrada"
          [legendTitle]="'Ganhos'"
          [maxLabelLength]="20"
          [gradient]="gradient"
          [view]="[600,400]"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          [scheme]="colorScheme"
          >
        </ngx-charts-pie-chart>
      </div>

      <div class="col">
        <h2 style="text-align: center;">Despesas</h2>
        <ngx-charts-pie-chart

          [legend]="showLegend"
          [legendTitle]="'Despesas'"
          [maxLabelLength]="20"
          [results]="dadosGraficoSaida"
          [gradient]="gradient"
          [view]="[600,400]"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          [scheme]="colorScheme"
          >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
